<div class="container mt-4">
  <h1 class="display-6 mb-3">{{item}}</h1>
  <form [formGroup]="data">

    <div class="form-floating mb-4">
      <input type="text" name="id" id="id" class="form-control" placeholder="Id" formControlName="id">
      <label for="id" [ngClass]="{'text-dark':'true'}">Id</label>

      <div class="alert mt-2" *ngIf="data.controls['id'].hasError('required') && data.controls['id'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">

        *Id required
      </div>

      <div class="alert mt-2" *ngIf="data.controls['id'].hasError('pattern') && data.controls['id'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Id is numbers only
      </div>

      <div class="alert mt-2" *ngIf="data.controls['id'].hasError('minlength') && data.controls['id'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Id should be minimum 1 characters
      </div>

    </div>

    <div class="form-floating mb-4">
      <input type="text" name="name" id="name" class="form-control" placeholder="Name" formControlName="name">
      <label for="name" [ngClass]="{'text-dark':'true'}">Name</label>

      <div class="alert mb-0" *ngIf="data.controls['name'].hasError('required') && data.controls['name'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Name required
      </div>

      <div class="alert mb-0" *ngIf="data.controls['name'].hasError('pattern') && data.controls['name'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">*Name shoud be letters
      </div>

      <div class="alert mb-0" *ngIf="data.controls['name'].hasError('minlength') && data.controls['name'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Name sholud be minimum 4 characters
      </div>
    </div>



    <div class="form-floating mb-4">
      <input type="text" name="salary" id="salary" class="form-control" placeholder="Salary" formControlName="salary">
      <label for="salary" [ngClass]="{'text-dark':'true'}">Salary</label>

      <div class="alert mb-0" *ngIf="data.controls['salary'].hasError('required') && data.controls['salary'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Salary required
      </div>

      <div class="alert mb-0" *ngIf="data.controls['salary'].hasError('pattern') && data.controls['salary'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Salary is number only
      </div>

      <div class="alert mb-0" *ngIf="data.controls['salary'].hasError('maxlength') && data.controls['salary'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Salary should be maximum 10 characters
      </div>
    </div>

    <div class="form-floating mb-4">
      <input type="text" name="age" id="age" class="form-control" placeholder="Age" formControlName="age">
      <label for="age" [ngClass]="{'text-dark':'true'}">Age</label>

      <div class="alert mb-0" *ngIf="data.controls['age'].hasError('required') && data.controls['age'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Age required
      </div>

      <div class="alert mb-0" *ngIf="data.controls['age'].hasError('pattern') && data.controls['age'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Age is number only
      </div>

      <div class="alert mb-0" *ngIf="data.controls['age'].hasError('maxlength') && data.controls['age'].touched"
        [ngStyle]="{'color':'#fbe0c4'}" [ngClass]="{'text-danger':data}">
        *Age should be maximum 2 characters
      </div>
    </div>

    <div formGroupName="address">
      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="street" id="street" placeholder="Street" formControlName="street">
        <label for="street">Street</label>
      </div>

      <div class='form-floating mb-4'>
        <input type="text" class="form-control" name="city" id="city" placeholder="City" formControlName="city">
        <label for="city">City</label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="state" id="state" placeholder="State" formControlName="state">
        <label for="state">State</label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="zip" id="zip" placeholder="Zip" formControlName="zip">
        <label for="zip">Zip</label>
      </div>
    </div>

    <div class="d-grid gap-2 mb-4">
      <button (click)="add()" [disabled]="data.invalid" type="button" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</div>
