<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Crud Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/add">Add</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/update">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/delete">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h5 class="display-6 text-center mt-3">{{today|date:'full'}}</h5>

  <input type="text" class="form-control" [(ngModel)]="content">
  <p class="text-center">{{content}}</p>
</div>



<router-outlet></router-outlet>
