<div class="container mt-4">
  <h1 class="display-6 mb-3">{{title}}</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Update</th>
      </tr>

    </thead>

    <tbody *ngFor="let item of items; let i=index">
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name | uppercase}}</td>
        <td>{{item.salary | currency:'INR':'symbol'}}</td>
        <td>{{item.age}}</td>
        <td>{{item.street}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
        <td>{{item.zip}}</td>
        <td><button (click)="update1(item,i)" type="button" class="btn btn-sm btn-outline-dark">Update</button></td>
      </tr>
    </tbody>
  </table>

  <form [formGroup]="data" class="mt-4">
    <div class="form-floating mb-4">
      <input type="text" class="form-control" name="id" id="id" placeholder="Id" formControlName="id">
      <label for="id">Id</label>
    </div>

    <div class="form-floating mb-4">
      <input type="text" class="form-control" name="name" id="name" placeholder="name" formControlName="name">
      <label for="name">Name</label>
    </div>

    <div class="form-floating mb-4">
      <input type="text" class="form-control" name="salary" id="salary" placeholder="salary" formControlName="salary">
      <label for="salary">Salary</label>
    </div>

    <div class="form-floating mb-4">
      <input type="text" class="form-control" name="age" id="age" placeholder="age" formControlName="age">
      <label for="age">Age</label>
    </div>

    <div formGroupName="address">
      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="street" id="street" placeholder="Street" formControlName="street">
        <label for="street">Street</label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="city" id="city" placeholder="city" formControlName="city">
        <label for="city">City</label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="state" id="state" placeholder="state" formControlName="state">
        <label for="state">State</label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="zip" id="zip" placeholder="zip" formControlName="zip">
        <label for="zip">Zip</label>
      </div>
    </div>



    <div class="d-grid gap-2 mb-5">
      <button (click)="update2()" [disabled]="data.invalid" type="button" class="btn btn-outline-dark">Update</button>
    </div>
  </form>
</div>
