<div class="container mt-3">
  <h1 class="display-6 mb-3">Data</h1>
  <table class="table">
    <thead class="table-light text-secondary">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
      </tr>
    </thead>

    <tbody *ngFor="let item of items">
      <tr>
        <td>{{item.id| uppercase}}</td>
        <td>{{item.name}}</td>
        <td>{{item.salary| currency:'INR':'symbol'}}</td>
        <td>{{item.age}}</td>
      </tr>
    </tbody>
  </table>
</div>

