<div class="container mt-3 table-responsive">
  <h1 class="display-6 mb-3">{{title}}</h1>
  <table class="table table-bordered">
    <thead class="table-light text-secondary">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Eligible for vote</th>
        <th>Eligible for Income Tax</th>
      </tr>
    </thead>

    <tbody *ngFor="let item of items; let i=index">
      <tr>
        <td>{{item.id| uppercase}}</td>
        <td>{{sur}}. {{item.name}}</td>
        <td>{{item.salary| currency:'INR':'symbol'}}</td>
        <td>{{item.age}}</td>
        <td *ngIf="item.age>=18; else el">Elgible</td>
        <ng-template #el>Not Elgible</ng-template>
        <td *ngIf="item.salary>3000; else el">Elgible</td>
        <ng-template #el>Not Elgible</ng-template>
      </tr>
    </tbody>
  </table>
</div>
