<div class="container mt-3 table-responsive">
  <h1 class="display-6 mb-3">{{title}}</h1>
  <table class="table table-bordered">
    <thead class="table-light text-dark">
      <tr>

        <th>Id</th>
        <th>Employee Type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Blood</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Eligible for vote</th>
        <th>Eligible for Income Tax</th>
      </tr>
    </thead>

    <tbody *ngFor="let item of items; let i=index">
      <tr>

        <td>{{item.id| uppercase}}</td>
        <td>{{item.user}}</td>
        <td>{{sur}}. {{item.name | uppercase}}</td>
        <td>{{item.email}}</td>
        <td>{{item.blood}}</td>
        <td>{{item.salary| currency:'INR':'symbol'}}</td>
        <td>{{item.age}}</td>
        <td>{{item.street}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
        <td>{{item.zip}}</td>

        <td *ngIf="item.age>=18; else el">Eligible</td>
        <ng-template #el>Not Eligible</ng-template>

        <td *ngIf="item.salary>3000; else el">Eligible</td>
        <ng-template #el>Not Eligible</ng-template>

      </tr>
    </tbody>
  </table>
</div>
